<div class="container">
    <h2>Edit Loan Scheme</h2>
    
    <!-- <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="lsName">Loan Scheme Name</label>
        <input id="lsName" name="lsName" [(ngModel)]="loanScheme.lsName" class="form-control" type="text" required />
      </div>
      
      <div class="form-group">
        <label for="lsDescription">Description</label>
        <textarea id="lsDescription" name="lsDescription" [(ngModel)]="loanScheme.lsDescription" class="form-control" required></textarea>
      </div>
      
      <div class="form-group">
        <label for="rateOfInterest">Rate of Interest</label>
        <input id="rateOfInterest" name="rateOfInterest" [(ngModel)]="loanScheme.rateOfInterest" class="form-control" type="number" required />
      </div>
      
      <div class="form-group">
        <label for="tenure">Tenure (in months)</label>
        <input id="tenure" name="tenure" [(ngModel)]="loanScheme.tenure" class="form-control" type="number" required />
      </div> -->
  
      <!-- <button class="btn btn-primary" type="submit">Save Changes</button>
    </form>
  </div> -->


  <!-- {{ loanScheme | json }} -->